.activity__list {
    position: relative;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.activity__item {
    position: relative;
    z-index: 5;
    min-height: 310px;
    margin: 10px;
    padding: 30px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.activity__img-wrap {
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    transition: all 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.activity__img-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
    z-index: 1;
}

.activity__item:hover .activity__img-wrap {
    transform: scale(1.1);
}

.activity__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.activity__text:hover {
    color: rgb(78, 250, 155);
}

.w1-3 {
    width: calc(100% / 3 - 20px);
}

.w2-3 {
    width: calc(100% *2 / 3 - 20px);
}